body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: darkblue;
}

header {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, rgb(0, 238, 255), rgb(75, 3, 75));
}

header h1 {
    color: darkblue;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main {
    display: flex;
    flex-direction: row;   
}

section {
    margin: 10px;
    width: 75%;
}

aside {
    margin: 10px;
    width: 25%;
    border-radius: 5px;
    box-shadow: 5px 5px darkblue;
    background-color: lightblue;
}

aside .search {
    margin-top: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    
}

 


aside .search button {
    margin-top: 10px;
    border-radius: 5px;
    height: 30px;
    border: 0;
    color: purple;
}

aside #error {
    color: blue;
    font-size: 2em;
    height: 20px;
    margin-top: 2px;
}

aside  {
    margin-top: 10px;
    padding: 5px;
}

aside .recent-cities {
    margin-top: 10px;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
    border-radius: 5px;
}

#weather {  
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    background-color:lightblue;
    margin-top: 20px;
    padding: 10px;
    margin-right: 11px;
}

#weather .city-name {
    font-size: 1.5em;
    font-weight: bold;
}

#weather .weather-details {
    line-height: 2em;
}
#forecast-days {
    display: flex;
    flex-wrap: wrap;
}
.forecast-day {
    border: solid 2px darkblue;
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50x;
    background-color: lightblue;
    margin-top: 20px;
    padding: 10px;
    margin-right: 11px;
    line-height: 2em;
}